html{
	font-size: 18px;
	text-align: justify;
	 margin: 0% 1% 1% 1%;
}
li{
	display: inline;
    list-style-type: none;
    margin: 10% 3% 0% 0%;
   font-size: 1.2rem;
   
}
 a{
 	text-decoration: none;
 }
footer{
	text-align: center;
}
 
h1{
	font-size: 2rem;
}

header,nav,footer{
	background-color: #4881E8;
	padding: 0.2% 0% 0.2% 0%;
}
.bolo1{
	float: right;
	margin: 2% 55% 0% 0%;
}